html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
  height:100%;
  position: relative;
	background-color: #FFE74C;
}

.screen {
  height:432px;
  width:480px;
  margin: 50px auto;
  border: 1px solid black;
  font-family: 'VT323';
  position: absolute;
  background-color: rgb(248,248,248);
}

h1 {
  font-size: 48px;
  padding:10px 0 0 20px;
}

h2 {
  font-size:46px;
  padding:0 0 0 20px;
  margin-bottom: 7px;
}

.divider {
  width:7.5px;
  height:432px;
  position: absolute;
  top:0;
  right:150px;
  background-color: black;
}
.thinHorizontal {
  width:150px;
  height:2px;
  position: absolute;
  top:225px;
  right:0;
  background-color: black;
}
.thickHorizontal {
  width:150px;
  height:7.5px;
  position: absolute;
  top:230px;
  right:0;
  background-color: black;
}

.options {
  height:200px;
  width:150px;
  position: absolute;
  bottom:0;
  right:0;
}

.optionText {
  padding-left: 50px;
  margin-bottom:0;
}

.stats {
  height:225px;
  width:150px;
  position: absolute;
  top:0;
  right:0;
}

.statsText {
  padding-left: 70px;
  margin: 10px 0 0 0;
}

.statNumber {
  padding-left: 70px;
}

.active::before {
  content:'›';
}

img {
  -webkit-filter:grayscale(100%);
  filter:grayscale(100%);
  height:200px;
  width:200px;
  margin: 0 0 0 20px;
}

.descStats {
  width:50%;
  float:right;
}

.descDivider {
  height:5px;
  width:100%;
  background-color:black;
  position: absolute;
  left:0;
  bottom:195px;
}

h3 {
  font-size: 38px;
  padding-left: 10px;
  height:190px;
}

.screenBorder {
  position: absolute;
  border-radius: 25px;
  margin-top: 2%;
  margin-left:2%;
  height:600px;
  width:600px;
  padding-left: 120px;
  background-color:#363A3D;
}

.gameboy {
  position: fixed;
  border-radius: 25px;
  height:975px;
  width:750px;
  background-color:#4B44A7;
	border:0.5px solid black;
}

p {
	margin-top: -10px;
	margin-bottom: 20px;
	padding-left: 70px;
	font-size: 32px;
}

#oval {
	position:absolute;
	width: 720px;
	height: 100px;
	bottom: 34%;
	margin-left: 2%;
	background-color: #363A3D;
	-moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 100px / 50px;
}

#gameboyLogo {
	font-family: 'Kanit', sans-serif;
	color: #AFBBCB;
	margin:-40px 0 0 140px;
}

.color {
	font-family: 'Permanent Marker', cursive;
	width:30px;
	margin-top: -80px;
	padding-left: 0;
	display:inline;
	position: absolute;
}

#colorC {
	font-family: 'Permanent Marker', cursive;
	margin-left:415px;
	color:#78215E;
}
#colorO1 {
	font-family: 'Permanent Marker', cursive;
	margin-left:440px;
	color:#5C4D7F;
}
#colorL {
	font-family: 'Permanent Marker', cursive;
	margin-left:470px;
	color:#7B8E6D;
}
#colorO2 {
	font-family: 'Permanent Marker', cursive;
	margin-left:495px;
	color:#C4C96C;
}
#colorR {
	font-family: 'Permanent Marker', cursive;
	margin-left:525px;
	color:#1C61A4;
}

.dPad {
	position: absolute;
	width:50px;
	height:50px;
	background-color:#363A3D;
	box-shadow: 2px 2px 5px black;
}

#up {
	bottom:150px;
	left:155px;
}

#down {
	left:155px;
	bottom:50px;
}

#left {
	bottom:100px;
	left:105px;
	box-shadow: 2px 0 5px black;
}

#right {
	bottom:100px;
	left:205px;
	box-shadow: 2px 0px 5px black;
}

#center {
	bottom:100px;
	left:155px;
	box-shadow: none;
}

.button {
	position: absolute;
	width:75px;
	height:75px;
	border-radius: 50px;
	background-color: #363A3D;
	font-size:60px;
	font-family: sans-serif;
	box-shadow: 2px 2px 5px black;
}

#aButton {
	bottom:110px;
	right:120px;
	outline:none;
}

#bButton {
	bottom:70px;
	right:225px;
	outline:none;
}

.led-red {
	position: absolute;
	top:18%;
	left:5%;
  width: 17.5px;
  height: 17.5px;
  background-color: #940;
  border-radius: 50%;
  box-shadow: #000 0 -1px 7px 1px, inset #600 0 -1px 9px, #F00 0 2px 12px;
}

.power {
	position: absolute;
	left:5%;
	top:22%;
	font-family: sans-serif;
	font-size: 20px;
	color:#AFBBCB;
}

.curve {
	position: absolute;
	left:10%;
	top:17.6%;
	font-family: sans-serif;
	font-size: 20px;
	color:#AFBBCB;
}

.container {
	width:45%;
	height:100%;
	margin:auto;
}

audio {
	display:block;
}

#sound {
	position: absolute;
	right:5px;
	float:right;
}

.backgroundMusic {
	position: absolute;
	top:-30px;
	right:0;
	transition-duration: 1s;
	height:78px;
}

.backgroundMusic:hover {
	transform: translateY(30px);
	transition-duration: 1s;
}

#pokeball {
	-webkit-filter:grayscale(0%);
	filter:grayscale(0%);
	margin-left: 0;
	position: absolute;
	top:5px;
	left:5px;
	height:75px;
	width:75px;
}

input {
	position: absolute;
	top:24.25px;
	left:75px;
	padding-left: 5px;
	background-color: black;
	height:25px;
	width:200px;
	font-size: 22px;
	border:5px solid black;
}

#search {
	position: absolute;
	font-size: 22px;
	height:37px;
	width:100px;
	top:24.25px;
	left:295px;
	border-color: black;
	background-color: black;
	color:white;
}

form {
	position: absolute;
	left:-395px;
}

#spoof {
	position: absolute;
	height:80px;
	width:50px;
	z-index: 9999;
}

#leftLine {
	position: absolute;
	width:1px;
	height:330px;
	background-color: black;
	left:130px;
	bottom:0px;
	z-index: -1;
}

#rightLine {
	position: absolute;
	width:1px;
	height:330px;
	background-color: black;
	left:615px;
	bottom:0px;
	z-index: -1;
}

.description {
	position: absolute;
	bottom:0;
	left:0;
}

#invalid {
	color:red;
	position: absolute;
	top:75px;
	left:15px;
	font-family: sans-serif;
	font-size: 18px;
	width:125px;
	display: none;
}

@media screen and (max-height: 920px) {
	#up {
		bottom:250px;
		left:155px;
	}
	#down {
		left:155px;
		bottom:150px;
	}

	#left {
		bottom:200px;
		left:105px;
		box-shadow: 2px 0 5px black;
	}

	#right {
		bottom:200px;
		left:205px;
		box-shadow: 2px 0px 5px black;
	}

	#center {
		bottom:200px;
		left:155px;
		box-shadow: none;
	}

	#aButton {
		bottom:210px;
		right:120px;
		outline:none;
	}

	#bButton {
		bottom:170px;
		right:225px;
		outline:none;
	}
}

@media screen and (max-width:1110px) {
	.container {
		margin-left:80px;
	}
}

@media screen and (max-width:885px) {
	.container {
		margin-left:0px;
	}
}

@media screen and (min-width:1111px) {
	#spoof {
		background-color: #FFE74C
	}
}
